.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 700px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .card-image img {
        width: 200px;
        height: auto;
        object-fit: cover;
    }
    
    .card-content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-right {
        padding: 16px;
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        float: right;
        
    }
    
    .card-content h2 {
        margin: 0 0 10px 0;
        font-size: 24px;
    }
    
    .card-content p {
        margin: 0;
        color: #555;
    }
    